body 
{
    font-family: Ariel;
    margin: 0;
    padding: 0px 0px;
}
header
{
    background-color: black;
    color: white;
}
header h1{
    margin: 0;
    display: inline;
}
nav ul
{
    margin: 0;
    display: inline;
}
nav ul li
{
    background:white;
    display: inline-block;
    list-style-type: none;
    padding: 0px 20px 0px 20px ;
    margin: 0;
}
nav ul li a
{
    color: black;
}

